<md-content>
	<center><h3>*********  Food Order has never been so easy at NIT Silchar, Order Now from various varieties of standardised at HOZBEE  *********</h3></center>
	{{ CNFCART }}
</md-content>
<md-content layout-xs="column" layout="row" class="md-padding">	
	<div flex="20" > </div>
	<div flex="60" >
        <md-input-container md-no-float class="md-block">
          <input ng-model="dishText" placeholder="Search your dishes ...">
        </md-input-container>
	</div>
	<div flex="20" ></div>
</md-content>
<md-divider></md-divider>

<md-content layout-xs="column" layout="row"  >
    <!-- Free Space -->
    <div flex-xs="" flex-gt-xs="20" layout="column" class="category32" >    	
		<md-content>
			<md-subheader class="md-no-sticky"> Categories </md-subheader>
			<md-list-item class="md-3-line" ng-repeat="category in comCatalogue" ng-click="enableCategory(category.id)">
				<div class="md-list-item-text nopadd" layout="column">
				<h3>{{ category.name }}</h3>
				</div>
			</md-list-item>
		</md-content>
    </div>    	
    <!-- Product details -->
    <div flex-xs="" flex-gt-xs="50" layout="column">
    	<div ng-repeat="obj in comCatalogue" class="row"  ng-show="obj.display" >

    		<h5> {{ obj.name }} </h5>

  			<div class="col-md-6" >  				
		    	<br>
		    	<!-- <div ng-repeat="o in obj.products | filter:dishText " ng-if="$even && inCondition(o) " > -->
		    	<div ng-repeat="o in obj.products | filter:dishText " ng-if="$even" >  
					<md-card>
					<img ng-src = {{o["thumbnail"]}} >
					<div layout="row" >
						<md-card-title > 
							<div flex="20"> <i class="material-icons red" >radio_button_checked</i> </div>
							<div flex="80"> <b>{{ o["product_name"] }} </b> </div>
						</md-card-title>
					</div>
					<md-divider></md-divider>
					<div layout="row" layout-fill>
						<div flex="65">
							 <md-card-content>
									<md-radio-group ng-model = o["half_avail"] ng-change="change($index)" >
										<md-radio-button value="1" > Half <b> &#8377  {{ o["half_price"] }}/- </b> </md-radio-button>
										<md-radio-button value="0"> Full <b> &#8377 {{ o["price"] }} /- </b></md-radio-button>
									</md-radio-group>
							 </md-card-content>
						</div>
						<div flex="35">
							<md-card-actions layout="row" layout-align="center center">
								<md-button ng-click="add(o['product'],o['half_avail'],o['product_name'],o,$index)" aria-label="Add in cart"> <i class="fa fa-fw fa-plus-circle fa-5x "></i> </md-button>					
							</md-card-actions>					
						</div>
					</div>
					</md-card>    	
				</div>  				
  			</div>
  			<div class="col-md-6" >
		    	<br>
		    	<!-- <div ng-repeat="o in obj.products | filter:dishText" ng-if="$odd && inCondition(o)" > -->
		    	<div ng-repeat="o in obj.products | filter:dishText" ng-if="$odd" >	
					<md-card>
					<img ng-src = {{o["thumbnail"]}} >
					<div layout="row" >
						<md-card-title> 
							<div flex="20"> <i class="material-icons red" >radio_button_checked</i> </div>
							<div flex="80"> <b>{{ o["product_name"] }} </b> </div>
						</md-card-title>
					</div>
					<md-divider></md-divider>
					<div layout="row" >
						<div flex="65">
							 <md-card-content>
									<md-radio-group ng-model = o["half_avail"] ng-change="change($index)"  >
										<md-radio-button value="1" > Half <b> &#8377  {{ o["half_price"] }}/- </b> </md-radio-button>
										<md-radio-button value="0"> Full <b> &#8377 {{ o["price"] }} /- </b></md-radio-button>
									</md-radio-group>
							 </md-card-content>
						</div>
						<div flex="35">
							<md-card-actions layout="row" layout-align="center center">
								<md-button ng-click="add(o['product'],o['half_avail'],o['product_name'],o,$index)" aria-label="Add in cart"> <i class="fa fa-fw fa-plus-circle fa-5x "></i> </md-button>					
							</md-card-actions>					
						</div>
					</div>
					</md-card>  	
				</div>  				
  			</div> 
    	</div>
    </div>
    <!-- Customer Orders -->
    <div flex-xs="" flex-gt-xs="35" layout="column" id="side-bar" >
    	<br>
    	<!-- Filter foods -->
    	<md-card>
    		<md-card-title>
    			<h3> Filter By </h3>
    		</md-card-title>
    		<md-divider></md-divider>
	   		<md-card-content>
				<p layout="row" layout-align="center center" >
					<md-input-container flex="33" >
						<label>Delivered in</label>
						<md-select ng-model="delivery">
							<md-option ng-repeat="option in deliveryOptions" value="{{option}}" >{{option}} min </md-option>
						</md-select>
					</md-input-container>
					<md-slider-container flex="66" >
						<span>&#8377</span>
						<md-slider md-discrete flex min="0" max="500" ng-model="MAXprice" aria-label="red" step="5" id="red-slider"></md-slider>
						<md-input-container>
							<input flex type="number" ng-model="MAXprice" aria-label="red" aria-controls="red-slider">
						</md-input-container>
					</md-slider-container>
				</p>
				<div layout="row" >
					<p flex="33" >
						<md-switch ng-model="veg" aria-label="Veg" ng-true-value="true" ng-false-value="false" class="md-warn">
						Veg
						</md-switch>
					</p>
					<p flex="33" >
						<md-switch ng-model="half" aria-label="Half" ng-true-value="true" ng-false-value="false" class="md-warn">
						Non-Veg
						</md-switch>	
					</p>
					<p flex="33" >
						<md-switch ng-model="half" aria-label="Half" ng-true-value="true" ng-false-value="false" class="md-warn">
						Half
						</md-switch>	
					</p>
				</div>
    		</md-card-content>
    	</md-card>
    	<!-- Orders -->
    	<md-card ng-hide="empty()" >
    		<md-card-title>
    			<h3> Your Orders </h3>
    		</md-card-title>
    		<md-divider></md-divider>
    		<md-card-content layout-fill >
				<div ng-repeat="order in cart" layout="row" layout-align="center center">
						<div flex="30"> <b> {{ order['food_name'] }} </b> </div>
						<div flex="10"> {{ order['quantity'] }} </div>
						<div flex="10"> {{ order['half'] }} </div>
						<div flex="20">  &#8377 {{ order['bill'] }} </div>
						<div flex="10"><md-button class="md-icon-button"  ng-click="eadd(order['product'])" ><i class="fa fa-fw fa-plus-circle fa-2x green" ></i></md-button></div>
						<div flex="10"><md-button class="md-icon-button" ng-click="uremove(order['product'])" ><i class="fa fa-fw fa-minus-circle fa-2x red "></i></md-button></div>
				</div>
				<md-divider></md-divider>
				<div layout="row" layout-align="center center" >
					<div flex="100"><br><br>
						<center> Total : &#8377 {{bill()}}/- (Tax Included) </center> <br><br>
					</div>
				</div>
				<md-divider></md-divider>
				<!-- Address selection--> 
				<div class="row" >
					<div class="col-md-1" ></div>
					<div class="col-md-10" >
						
						<h2 class="pull-left" ><b>Select address.</b></h2><br><br><br><hr>
						<md-radio-group ng-model="address">

							<md-radio-button ng-repeat = "add in addresses" ng-value = add.add_id arai-level = {{add.add_id}} >
							  {{ add.building }} , Room no. : {{ add.room }} , PIN : {{ add.pin }}
							</md-radio-button>
							<!-- Build a new add address function here -->
							<md-radio-button value="new_add" id="op4"><b> New address </b></md-radio-button>

						</md-radio-group>
						<div class="row" >
							<div class="col-md-4" >
								<center >
								<md-input-container>
									<label>Building</label>
									<md-select ng-model="delivery">
										<md-option ng-repeat="option in buildings" value="{{option}}" >{{option}}</md-option>
									</md-select>
								</md-input-container>						
								</center>
							</div>
							<div class="col-md-4" >
								<center>
									<md-input-container>
										<label>Room No:</label>
										<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 6036" >
									</md-input-container>
								</center>					
							</div>
							<div class="col-md-4" >
								<center>
									<md-input-container>
										<label>PIN #</label>
										<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 788010" >
									</md-input-container>
								</center>				
							</div>
						</div>

					</div>
					<div class="com-md-1" ></div>					
				</div>
				<md-divider></md-divider>
				<center> <md-button ng-click="checkout()" > Checkout </md-button> </center>

    		</md-card-content>
    	</md-card>
    </div>
    <!-- Free Space -->
    <div flex-xs="" flex-gt-xs="1" layout="column"></div>
</md-content>


<!-- Order Confirmation -->
<div id="foodModal" class="modal">
	<div class="modal-content" >
		<span id="clsFood" class="close">x</span>
		<div class="row" >
			  <div class="col-md-4" ></div>
		  <div class="col-md-4" >
		  	<h3> <b>Order Details.</b> </h3>
		  	<p>
		  		Order Id : {{ cnfOrder.id }}  <br>
		  	</p>
		  	<center><md-button class="md-raised md-primary" ng-click="gotoOrders()" >Trace Orders</md-button></center>	  	
		  </div>
			  <div class="col-md-4" ></div>
		</div>
	</div>
</div>

