<div ng-show="showCatalogue" >
<br><br>
<div class="row" >
	<div class="col-md-1" ></div>


	<div class="col-md-3" >
	<center><b> <h2>HOZBEE Laundry Services</h2> </b></center>
		<p class="text-justify" >
			<h4>
				We provide the best and affordable high quality 
				Laundry service here at HOZBEE, all you need is
				these following <b>3 simple steps.</b>
			</h4>
		</p>	
	</div>
	<div class="col-md-1" ></div>
	<div class="col-md-1" ><br>
		<center><i class="fa fa-cart-plus fa-4x" aria-hidden="true"></i></center>
		<center><h5>Book pickup</h5></center>
	</div>
	<div class="col-md-1" ><br>
		<center><i class="fa fa-briefcase fa-4x" aria-hidden="true"></i></center>
		<center><h5>Select Services</h5></center>
	</div>
	<div class="col-md-1" ><br>
		<center><i class="fa fa-bed fa-4x" aria-hidden="true"></i></center>
		<center><h5>Relax</h5></center>
	</div>

	<div class="col-md-1" ></div>

	<div class="col-md-1" >
		<center><md-button  >
					<i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
		</md-button></center>
		<center><h5><b>Your Orders</b></h5></center>
	</div>
	<div class="col-md-1" >
		<center><md-button ng-click="order()" aria-label="Order-Place">
		<i class="fa fa-shopping-basket fa-5x" aria-hidden="true"></i></i>
		</md-button></center>
		<center><h5><b>Book Pickup</b></h5></center>
	</div>
	<div class="col-md-1" ></div>
</div>
<br><br>
<md-divider></md-divider>

<div id="pricecard" >

	<div class="row" >
		<br>
		<div class="col-md-1" ></div>
		<div class="col-md-4" >
		<br><center><i class="fa fa-ship fa-5x" aria-hidden="true" ></i></center>  <br>
		<center><h1>Wash and fold</h1></center>
		<p class="text-justify" >
			<i class="fa fa-quote-left fa-3x pull-left" aria-hidden="true"  ></i><br>
			<h3>
				We provide the best and affordable high quality 
				wash and fold facility here at HOZBEE, bla bla,
				bla bla bla bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla bla bla bla
			</h3>
			<i class="fa fa-quote-right fa-3x pull-right" aria-hidden="true"  ></i><br>
			<h3 class="pull-right" > --- Himanshu keshav Sharma,CEO </h3>
		</p>
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>		
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>		
		</div>
		<div class="col-md-1" ></div>
	</div>
	<div class="row" >
		<br>
		<div class="col-md-1" ></div>
		<div class="col-md-4" >
		<br><center><i class="fa fa-ship fa-5x" aria-hidden="true" ></i></center>  <br>
		<center><h1>Wash and fold</h1></center>
		<p class="text-justify" >
			<i class="fa fa-quote-left fa-3x pull-left" aria-hidden="true"  ></i><br>
			<h3>
				We provide the best and affordable high quality 
				wash and fold facility here at HOZBEE, bla bla,
				bla bla bla bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla bla bla bla
			</h3>
			<i class="fa fa-quote-right fa-3x pull-right" aria-hidden="true"  ></i><br>
			<h3 class="pull-right" > --- Himanshu k Sharma,CEO </h3>
		</p>
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>		
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>		
		</div>
		<div class="col-md-1" ></div>
	</div>
	<div class="row" >
		<br>
		<div class="col-md-1" ></div>
		<div class="col-md-4" >
		<br><center><i class="fa fa-ship fa-5x" aria-hidden="true" ></i></center>  <br>
		<center><h1>Wash and fold</h1></center>
		<p class="text-justify" >
			<i class="fa fa-quote-left fa-3x pull-left" aria-hidden="true"  ></i><br>
			<h3>
				We provide the best and affordable high quality 
				wash and fold facility here at HOZBEE, bla bla,
				bla bla bla bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla bla bla bla
			</h3>
			<i class="fa fa-quote-right fa-3x pull-right" aria-hidden="true"  ></i><br>
			<h3 class="pull-right" > --- Himanshu k Sharma,CEO </h3>
		</p>
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>		
		</div>
		<div class="col-md-2" >
			<center><h3> Men Clothes </h3></center>
			<table class="table table-striped table-bordered">
				<thead>
				      <tr>
				        <th>Cloth</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				      <tr>
				        <td>Shirt</td>
				        <td> &#8377 23.89/- </td>
				      </tr>
				    </tbody>
			</table>		
		</div>
		<div class="col-md-1" ></div>
	</div>

</div>
</div>

<!-- Order Placing -->
<div ng-show="placeOrder" ><br><br>
	<div class="row" >
		<div class="col-md-1" ></div>
		<!-- Service Selection -->
		<div class="col-md-4" >
			<h3>Select a Service : </h3><hr><br>
          <div class="row" >
          	<div class="col-md-4" ><center>
				<md-checkbox ng-model="services.WF" aria-label="Checkbox 1">
					<b>Wash & Dry</b>
				</md-checkbox>
          	<i class="fa fa-ship fa-5x" aria-hidden="true" ></i>
          	</center></div>
          	<div class="col-md-4" ><center>
				<md-checkbox ng-model="services.WF" aria-label="Checkbox 1">
					<b>Dry Wash</b>
				</md-checkbox>
          	<i class="fa fa-ship fa-5x" aria-hidden="true" ></i>
          	</center></div>
          	<div class="col-md-4" ><center>
				<md-checkbox ng-model="services.WI" aria-label="Checkbox 1">
					<b>Wash & Iron</b>
				</md-checkbox>
          	<i class="fa fa-ship fa-5x" aria-hidden="true" ></i>
          	</center></div>
          </div><br><br>
          <h4>Guildlines : </h4>
          <ul>
          	<li> Select atleast one service to proceed. </li>
          	<li> You may select more than one services. </li>
          </ul>

		</div>
		<!-- Address selection -->
		<div class="col-md-3" ng-show="seladd()"  >
			<h3>Select Address : </h3><hr><br>
			<md-radio-group ng-model="data.group1">
				<md-radio-button value="Apple" id="op1" > <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
				<md-radio-button value="Banana" id="op3"> <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
				<md-radio-button value="Mango" id="op2"> <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
				<md-radio-button value="new_add" id="op4"><b> New address </b></md-radio-button>
			</md-radio-group>
			<div class="row" >
				<div class="col-md-4" >
					<center >
					<md-input-container>
						<label>Building</label>
						<md-select ng-model="delivery">
							<md-option ng-repeat="option in buildings" value="{{option}}" >{{option}}</md-option>
						</md-select>
					</md-input-container>						
					</center>
				</div>
				<div class="col-md-4" >
					<center>
						<md-input-container>
							<label>Room No:</label>
							<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 6036" >
						</md-input-container>
					</center>					
				</div>
				<div class="col-md-4" >
					<center>
						<md-input-container>
							<label>PIN #</label>
							<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 788010" >
						</md-input-container>
					</center>				
				</div>
			</div>
		</div>
		<!--  -->
		<div class="col-md-3" ng-show="seddate()" >
			<h3>Select Date and time for pickup : </h3><hr><br>
			<center><md-datepicker ng-model="myDate" md-placeholder="Pickup date"></md-datepicker></center><br>
			<center><md-button class="md-raised md-primary">Confirm</md-button></center>
			
		</div>
		<div class="col-md-1" ></div>
	</div>
<br><br><br>
</div>

<br><br><br>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>

<div><br><br>
	<div class="row" >
		<div class="col-md-1" ></div>
		<!-- Service Selection -->
		<div class="col-md-4" >
			<h3>Select a Service : </h3><hr><br>
          <div class="row" >
          	<div class="col-md-4" ><center>
				<md-checkbox ng-model="services.WF" aria-label="Checkbox 1">
					<b>Wash & Dry</b>
				</md-checkbox>
          	<i class="fa fa-ship fa-5x" aria-hidden="true" ></i>
          	</center></div>
          	<div class="col-md-4" ><center>
				<md-checkbox ng-model="services.WF" aria-label="Checkbox 1">
					<b>Dry Wash</b>
				</md-checkbox>
          	<i class="fa fa-ship fa-5x" aria-hidden="true" ></i>
          	</center></div>
          	<div class="col-md-4" ><center>
				<md-checkbox ng-model="services.WI" aria-label="Checkbox 1">
					<b>Wash & Iron</b>
				</md-checkbox>
          	<i class="fa fa-ship fa-5x" aria-hidden="true" ></i>
          	</center></div>
          </div><br><br>
          <h4>Guildlines : </h4>
          <ul>
          	<li> Select atleast one service to proceed. </li>
          	<li> You may select more than one services. </li>
          </ul>

		</div>
		<!-- Address selection -->
		<div class="col-md-3" ng-show="seladd()"  >
			<h3>Select Address : </h3><hr><br>
			<md-radio-group ng-model="data.group1">
				<md-radio-button value="Apple" id="op1" > <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
				<md-radio-button value="Banana" id="op3"> <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
				<md-radio-button value="Mango" id="op2"> <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
				<md-radio-button value="new_add" id="op4"><b> New address </b></md-radio-button>
			</md-radio-group>
			<div class="row" >
				<div class="col-md-4" >
					<center >
					<md-input-container>
						<label>Building</label>
						<md-select ng-model="delivery">
							<md-option ng-repeat="option in buildings" value="{{option}}" >{{option}}</md-option>
						</md-select>
					</md-input-container>						
					</center>
				</div>
				<div class="col-md-4" >
					<center>
						<md-input-container>
							<label>Room No:</label>
							<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 6036" >
						</md-input-container>
					</center>					
				</div>
				<div class="col-md-4" >
					<center>
						<md-input-container>
							<label>PIN #</label>
							<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 788010" >
						</md-input-container>
					</center>				
				</div>
			</div>
		</div>
		<!--  -->
		<div class="col-md-3" ng-show="seddate()" >
			<h3>Select Date and time for pickup : </h3><hr><br>
			<center><md-datepicker ng-model="myDate" md-placeholder="Pickup date"></md-datepicker></center><br>
			<center><md-button class="md-raised md-primary">Confirm</md-button></center>
			
		</div>
		<div class="col-md-1" ></div>
	</div>
<br><br><br>
</div>

  </div>

</div>