.first{
    background-color: #5A9DFA ;   
}
.second{
	background-color: #FFFFFF ;	
      border-width: 1px;
      border-style: solid;
    border-color: #DBDBDB;
}
.dark {
  background-color: #E3E3E3;
}
.third {
  background-color: #E8E8E8;
}
