<div class="conrainer" >
	<div class="row text-center first" >
		<br><br><br><br><br><br><br>
		<h2 class="section-heading">We've got what you need!</h2>
		<hr class="small">
		<p class="text-faded"> <h4>Dive into various services you can avail</h4> </p>
		<p class="text-faded">  <h3>Like Our Facebook page </h3>  <i class="fa fa-fw fa-hand-pointer-o fa-3x"></i> </p>
		<br><br><br><br><br><br>
	</div>
	<div class="row text-center" >
		<br>
		<h1>Our Services</h1><hr class="esmall">
		<br>
		<div class="col-md-2" ></div>

		<div class="col-md-2 second" ng-class="{dark: hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false" >
			<br><br><img src="static/svg/laundry2.svg"  class="image">
			<h3>Laundry</h3>
			<p class="text-muted">Tired of doing laundry, get your laundry done easily.</p><br>			
		</div>
		<div class="col-md-2 second" ng-class="{dark: hover2}" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false" >
			<br><br><img src="static/svg/meat.svg"  class="image">
            <h3>Foodstation</h3>
            <p class="text-muted">Bored of your canteen and mess, order yummy foods for your tummy.</p>	<br>
		</div>
		<div class="col-md-2 second" ng-class="{dark: hover3}" ng-mouseenter="hover3 = true" ng-mouseleave="hover3 = false" >
			<br><br><img src="static/svg/balloons.svg"  class="image"> 
            <h3>Party Packages</h3>
            <p class="text-muted">Want to celebrate a party, order various things from here.</p><br>		
		</div>
		<div class="col-md-2 second" ng-class="{dark: hover4}" ng-mouseenter="hover4 = true" ng-mouseleave="hover4 = false" >
			<br><br><img src="static/svg/cake-1.svg"  class="image">
            <h3>Cake Order</h3>
            <p class="text-muted">Order a custom cake with name and message for someone special.</p><br>
		</div>
		<div class="col-md-2" ></div>
	</div>
	<br><br><br><br><br>                           
</div>

<div class="third" >
	<br><br><br><br>   
	<div class="container ">
	    <div class="row">
	        <div class="col-lg-12 text-center">
	            <h2 class="section-heading">All You Need In 3 Easy Steps</h2>
	            <hr class="small">
	        </div>
	    </div>                                 
	</div>                         
	<div class="container">
	    <div class="row">                         
	        <div class="col-lg-3 col-md-6 text-center">
	            <div class="service-box">
	                <img src="static/svg/online-shop.svg"  class="image2">
	                <h3>Select a service</h3>
	                <p class="text-muted">Browse and select a <br>  service provided by us and ..</p>
	            </div>
	        </div>
	        <div class="col-md-1" > <br><br><br> <img src="static/svg/forward.svg"  class="image3"></div>
	        <div class="col-lg-4 col-md-6 text-center">
	            <div class="service-box">
	                <img src="static/svg/purchase.svg"  class="image2">
	                <h3>Place a order</h3>
	                <p class="text-muted">Book a service or place <br> a order with us and ..</p>
	            </div>
	        </div>
	        <div class="col-md-1" > <br><br><br> <img src="static/svg/forward.svg"  class="image3"></div>
	        <div class="col-lg-3 col-md-6 text-center">
	            <div class="service-box">
	                <img src="static/svg/hammock.svg"  class="image2">
	                <h3>Relax</h3>
	                <p class="text-muted">Now just relax until <br> you order arives</p>
	            </div>
	        </div>
	    </div>
	   	<br><br><br><br><br>
	</div>
</div>

<div class="forth" >
	<br><br><br><br>
	<div class="container" >
	    <div class="row" >
	        <div class="col-md-12 pull-left" >
	            <h1>Why HOZBEE ??</h1>
	        </div>
	    </div>
	    <div class="row" >
	        <div class="col-md-9" >
	            <h4> At hozbee we are aimed at bringing a standardization in Hozpitality domain. To strengthen our trust we provide the best services with a really convinient approach.. </h4>
	            <li><h3>Easy and Quick Service</h3></li>
	            <li><h3>Quality Assurance</h3></li>
	            <li><h3>Excellent Quality </h3></li>
	        </div>
	        <div class="col-md-3" >
	        	<img src="static/svg/smartphone.svg"  class="image3">
	        </div>
	    </div>
	</div>	
	<br><br><br><br><br><br><br>
</div>