<div  ng-hide="placeOrder">
<div class="row" >
	<!-- Service Description -->
	<div class="col-md-4 text-center " >
		<div class="row" ></div>
			<div class="col-md-1" ></div>
			<div class="col-md-10" >
			<h1><b>HOZ</b>BEE Laundry</h1>
			<p class="text-justify" >
				<i class="fa fa-quote-left fa-2x pull-left" aria-hidden="true"  ></i><br>
				<h4>
					Pick My Laundry provides  premium  washing and 
					dry cleaning service  leveraging  mobile based
					technology . We  pick  up your dirty duds from
					your doorstep and deliver fresh, clean clothes
					back at your doorstep.
				</h4>
				<i class="fa fa-quote-right fa-2x pull-right" aria-hidden="true"  ></i><br>

			</p>				
			</div>
			<div class="col-md-1" ></div>
	</div>
	<!-- How it Works -->
	<div class="col-md-5" >
		<h2><b>How It works..</b></h2><br>
		<div class="row text-center" >
			<div class="col-md-2" >
				<img src="static/svg/clicker.svg" class="image75">
				<h4><b>Book</b></h4>
				<p>
					Select any service for available options
				</p>
			</div>
			<div class="col-md-1" ><br><br><br> <img src="static/svg/rightc.svg" class="image2">  </div>
			<div class="col-md-2" >
				<img src="static/svg/truck.svg" class="image75">
				<h4><b>Pickup</b></h4>
				<p>
					Our laundry boy will pickup
				</p>
			</div>
			<div class="col-md-1" ><br><br><br> <img src="static/svg/rightc.svg" class="image2">  </div>
			<div class="col-md-2" >
				 <img src="static/svg/washing-machine.svg" class="image75">
				<h4><b>Wash</b></h4>
				<p>
					Your clothes will get washed
				</p>
			</div>
			<div class="col-md-1" ><br><br><br> <img src="static/svg/rightc.svg" class="image2">  </div>
			<div class="col-md-2" >
				<img src="static/svg/trolley.svg" class="image75">
				<h4><b>Delivery</b></h4>
				<p>
					Your clean and fresh will get delivered
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-3 text-center" ><br>	
		<div class="row" >
			<div class="col-md-5" ><br><br>
				<b> <h1>Book now</h1> </b>		
				<p style="{text-align: justify;}" >
					Book now by select
					ing any service an 
					d the  address and 
					the pickup date...
				</p>	
			</div>
			<div class="col-md-6" ><br><br><br>
				<center><md-button ng-click="order2()"  aria-label="book"  id="myBtn" >
						<img src="static/svg/cash-register.svg" class="image3">
				</md-button></center>



			</div>
			<div class="col-md-1" ></div>
		</div>
	</div>
</div>
	
<!-- Tabs design -->
<div class="tabsdemoDynamicTabs" >
 <md-content class="md-padding">

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Wash And Fold">
        <md-content class="md-padding">
			<div class="row" >
				<br>
				<div class="col-md-1" ></div>
				<div class="col-md-3" >
				<center><img src="static/svg/washing.svg"  class="image"></center>
				<center><h1>Wash and fold</h1></center>
				<p class="text-justify" >
					<i class="fa fa-quote-left fa-2x pull-left" aria-hidden="true"  ></i>
					<h3>
						Under this category your clothes are sorted
						and  colors are seperated from whites. Then
						we wash  and  dry  your clothes in seperate 
						machines. It then  get  neatly  folded  and 
						delivered to you.
					</h3>
					<i class="fa fa-quote-right fa-2x pull-right" aria-hidden="true"  ></i><br>
					
				</p>
				</div>
				<div class="col-md-1" ></div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
								      <tr>
								        <th>Cloth</th>
								        <th>Price</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>Shirt/Trouser/shorts</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								    </tbody>
							</table>
						</div>
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-1" ></div>
			</div>
        </md-content>
      </md-tab>
      <md-tab label="Wash And Iron">
        <md-content class="md-padding">
			<div class="row" >
				<br>
				<div class="col-md-1" ></div>
				<div class="col-md-3" >
				<center><img src="static/svg/iron.svg"  class="image"></center>
				<center><h1>Wash and fold</h1></center>
				<p class="text-justify" >
					<i class="fa fa-quote-left fa-2x pull-left" aria-hidden="true"  ></i>
					<h3>
						Under this category your clothes are sorted 
						and colors are seperated from whites . Then 
						we wash and dry your  clothes  in  seperate 
						machines. We  iron  each cloth and then get 
						neatly folded and delivered to you.
					</h3>
					<i class="fa fa-quote-right fa-2x pull-right" aria-hidden="true"  ></i><br>
					
				</p>
				</div>
				<div class="col-md-1" ></div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
								      <tr>
								        <th>Cloth</th>
								        <th>Price</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>Shirt/Trouser/shorts</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								    </tbody>
							</table>
						</div>
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-1" ></div>
			</div>
        </md-content>
      </md-tab>
      <md-tab label="Dry Clean">
        <md-content class="md-padding">
			<div class="row" >
				<br>
				<div class="col-md-1" ></div>
				<div class="col-md-3" >
				<center><img src="static/svg/towel.svg"  class="image"></center>
				<center><h1>Wash and fold</h1></center>
				<p class="text-justify" >
					<i class="fa fa-quote-left fa-2x pull-left" aria-hidden="true"  ></i>
					<h3>
						Dry  cleaning  is  any cleaning process for 
						clothing  and  textiles  using  a  chemical 
						solvent other than water. It  is  used  to 
						clean   delicate   fabrics   that   cannot 
						withstand the rough and tumble of a washing
						machine and clothes dryer
					</h3>
					<i class="fa fa-quote-right fa-2x pull-right" aria-hidden="true"  ></i><br>
					
				</p>
				</div>
				<div class="col-md-1" ></div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
								      <tr>
								        <th>Cloth</th>
								        <th>Price</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>Shirt/Trouser/shorts</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								    </tbody>
							</table>
						</div>
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-1" ></div>
			</div>
        </md-content>
      </md-tab>
      <md-tab label="Premium Wash">
        <md-content class="md-padding">
			<div class="row" >
				<br>
				<div class="col-md-1" ></div>
				<div class="col-md-3" >
				<center><img src="static/svg/liquid-soap.svg"  class="image"></center>
				<center><h1>Wash and fold</h1></center>
				<p class="text-justify" >
					<i class="fa fa-quote-left fa-2x pull-left" aria-hidden="true"  ></i>
					<h3>
						Under this category your cloth gets washed
						by  bio-detergents  with utmost care. Also 
						the clothes booked  under this category is
						 washed seperately in washing machine.
					</h3>
					<i class="fa fa-quote-right fa-2x pull-right" aria-hidden="true"  ></i><br>
					
				</p>
				</div>
				<div class="col-md-1" ></div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
								      <tr>
								        <th>Cloth</th>
								        <th>Price</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>Shirt/Trouser/shorts</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								      <tr>
								        <td>Shirt</td>
								        <td> &#8377 23.89/- </td>
								      </tr>
								    </tbody>
							</table>
						</div>
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-2" >
					<div class="panel panel-default">
					  <!-- Default panel contents -->
						<div class="panel-heading tableheader"><center><b> Men Clothes</b></center> </div>
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>Cloth</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Shirt/Trouser/shorts</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
									<tr>
										<td>Shirt</td>
										<td> &#8377 23.89/- </td>
									</tr>
								</tbody>
						</table>
					</div>		
				</div>
				<div class="col-md-1" ></div>
			</div>
        </md-content>
      </md-tab>
      <!-- Order -->
      <md-tab></md-tab>



    </md-tabs>
  </md-content>	
</div>	
</div>



<!-- Trigger/Open The Modal 
<button id="myBtn">Open Modal</button>-->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close">x</span>
		<!-- Order Placing -->
		<div ng-show="placeor" >
		<h1> <b>Book pickup.</b> </h1><hr class="line" >

			<div class="row" >
				<div class="col-md-1" ></div>
				<!-- Service Selection -->
				<div class="col-md-4" >
					<h2 class="pull-left" ><b>Select services.</b></h2><br><br><br><hr>
					<div class="row" >
						<div class="col-md-1" ></div>
						<div class="col-md-5 second" ng-class="{dark: hover1}" ng-click="hover1=!hover1"><br>
							<center><img src="static/svg/washing.svg" class="image2"></center>
							<center><b><h3>Wash And Fold</h3></b></center>					
						</div>
						<div class="col-md-5 second" ng-class="{dark: hover2}" ng-click="hover2=!hover2"><br>
							<center><img src="static/svg/iron.svg" class="image2"></center>
							<center><b><h3>Wash And Iron</h3></b></center>					
						</div>
						<div class="col-md-1" ></div>
					</div>
					<div class="row" >
						<div class="col-md-1" ></div>
						<div  class="col-md-5 second" ng-class="{dark: hover3}" ng-click="hover3=!hover3"><br>
							<center><img src="static/svg/towel.svg" class="image2"></center>
							<center><b><h3>Dry Wash</h3></b></center>					
						</div>
						<div class="col-md-5 second" ng-class="{dark: hover4}" ng-click="hover4=!hover4"><br>
							<center><img src="static/svg/liquid-soap.svg" class="image2"></center>
							<center><b><h3>Premium Wash</h3></b></center>					
						</div>
						<div class="col-md-1" ></div>
					</div>
				</div>
				<!-- Address selection -->
				<div class="col-md-3" ng-show="seladd()"  >
					<h2 class="pull-left" ><b>Select address.</b></h2><br><br><br><hr>
					<md-radio-group ng-model="address">
						<md-radio-button value="add1" id="op1" > <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
						<md-radio-button value="add2" id="op3"> <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
						<md-radio-button value="add3" id="op2"> <b>HOSTEl-6 , Room # 6036, PIN : 788010  </b></md-radio-button>
						<md-radio-button value="new_add" id="op4"><b> New address </b></md-radio-button>
					</md-radio-group>
					<div class="row" >
						<div class="col-md-4" >
							<center >
							<md-input-container>
								<label>Building</label>
								<md-select ng-model="delivery">
									<md-option ng-repeat="option in buildings" value="{{option}}" >{{option}}</md-option>
								</md-select>
							</md-input-container>						
							</center>
						</div>
						<div class="col-md-4" >
							<center>
								<md-input-container>
									<label>Room No:</label>
									<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 6036" >
								</md-input-container>
							</center>					
						</div>
						<div class="col-md-4" >
							<center>
								<md-input-container>
									<label>PIN #</label>
									<input flex type="text" ng-model="room" aria-label="red" aria-controls="red-slider" placeholder="eg : 788010" >
								</md-input-container>
							</center>				
						</div>
					</div>
				</div>
				<!--  -->
				<div class="col-md-3" ng-show="seladd()" >
					<h2 class="pull-left" ><b>Select Date.</b></h2><br><br><br><hr>
					<center><md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate"></md-datepicker></center><br>
					<center><md-button class="md-raised md-primary" ng-click="confirnOrder()" >Confirm</md-button></center>
					
				</div>
				<div class="col-md-1" ></div>
			</div>
		<br>
		<div class="row" >
			<div class="col-md-1" ></div>
			<div class="col-md-8" >
				<b> <h3>Guidilines</h3> </b>
	          <ul>
	          	<li> Select atleast one service type to confirm your booking. You may select more than one. </li>
	          	<li> Defult date is the same day if service booked till 2PM of the day. Else you may select any day convenient to you. </li>
	          </ul>


			</div>
			<div class="col-md-3" ></div>

		</div>
		</div>

			  <!-- Order Confirmation -->
			  <div class="row"  ng-hide="placeor" >
		  		  <div class="col-md-4" ></div>
				  <div class="col-md-4" >
				  	<h3> <b>Order Details.</b> </h3>
				  	<p>
				  		Order Id : 1234<br>
				  		Scheduled PickUP : 12-08-2016 , 5:00 PK<br>
				  		Service requested :  WD , WI<br>
				  		<br>
				  		Thank You
				  	</p>
				  	<center><md-button class="md-raised md-primary" ng-click="gotoOrders()" >Trace Orders</md-button></center>
				  	
				  </div>
		  		  <div class="col-md-4" ></div>
			  </div>
  </div>
</div>