<div class="row" >
	<div class="col-md-1" ></div>
	<div class="col-md-10" >
	<h2> <B>HOZ</B>BEE orders.. </h2><hr class="line" > 


<div class="tabsdemoDynamicTabs" >
 <md-content class="md-padding">

    <md-tabs md-dynamic-height md-border-bottom>
      <!-- Laundry Orders -->
      <md-tab label="Laundry">
        <md-content class="md-padding">
        <div class="row" >
        	  <div class="col-md-2" ></div>
        	  <div class="col-md-8" >
        	
	        	<table class="table table-hover" >
	        		<thead>
	        			<tr>
	        				<th> <b>Order ID</b> </th>
	        				<th> <b>Placed at</b> </th>
	        				<th> <b>Pickup date</b> </th>
	        				<th> <b>Pickup time</b> </th>
	        				<th> <b>Services</b> </th>
	        				<th> <b>Status</b> </th>
	        				<th> <b>Bill</b> </th>
	        			</tr>
	        		</thead>
	        		<tbody>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
		        		<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 13-01-2016 </td>
							<td> 5:00 PM </td>
							<td> WD,DW </td>
							<td> Done </td>
							<td> &#8377 23.89/- </td>
		        		</tr>
	        		</tbody>
	        	</table>
        	  </div>
        	  <div class="col-md-2" ></div>
        </div>
        </md-content>
      </md-tab>
      <!-- Food Orders -->
      <md-tab label="Foods">
        <md-content class="md-padding">
        <div class="row" >
        	<div class="col-md-1" ></div>
        	<div class="col-md-10" >
        		<table class="table table-hover" >
        			<thead>
        				<tr>
        					<th> <b>Order ID</b> </th>
        					<th> <b>Placed at</b> </th>
        					<th> <b>Items</b> </th>
        					<th> <b>Status</b> </th>
        					<th> <b>Delivered at</b> </th>
        					<th> <b>Bill</b> </th>
        				</tr>
        			</thead>
					<tbody>
						<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 
								Chicken Masala - 1<br>
								Chicken Tanduri - 2<br>
								Daal Makhni -2<br>
								Butter Roti - 3<br>
								CocaCola - 1<br>
							</td>
							<td> In transmit </td>
							<td> --- </td>
							<td> &#8377 1200.89/- </td>
						</tr>
						<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 
								Chicken Masala - 1<br>
								Chicken Tanduri - 2<br>
								Daal Makhni -2<br>
								Butter Roti - 3<br>
								CocaCola - 1<br>
							</td>
							<td> Delivered </td>
							<td> 12-01-2016 , 12:53:45 </td>
							<td> &#8377 1200.89/- </td>
						</tr>
						<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 
								Chicken Masala - 1<br>
								Chicken Tanduri - 2<br>
								Daal Makhni -2<br>
								Butter Roti - 3<br>
								CocaCola - 1<br>
							</td>
							<td> Delivered </td>
							<td> 12-01-2016 , 12:53:45 </td>
							<td> &#8377 1200.89/- </td>
						</tr>
						<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 
								Chicken Masala - 1<br>
								Chicken Tanduri - 2<br>
								Daal Makhni -2<br>
								Butter Roti - 3<br>
								CocaCola - 1<br>
							</td>
							<td> Delivered </td>
							<td> 12-01-2016 , 12:53:45 </td>
							<td> &#8377 1200.89/- </td>
						</tr>
						<tr>
							<td> 1234 </td>
							<td> 12-01-2016 , 12:23:45 </td>
							<td> 
								Chicken Masala - 1<br>
								Chicken Tanduri - 2<br>
								Daal Makhni -2<br>
								Butter Roti - 3<br>
								CocaCola - 1<br>
							</td>
							<td> Delivered </td>
							<td> 12-01-2016 , 12:53:45 </td>
							<td> &#8377 1200.89/- </td>
						</tr>

					</tbody>        			


        		</table>




        	</div>
        	<div class="col-md-1" ></div>
        </div>




        </md-content>
      </md-tab>




    </md-tabs>
 </md-content>
</div>





		
	</div>
	<div class="col-md-1" ></div>
</div>